In [1]:
#Unigram and bigram code goes here

In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import nltk
nltk.download('punkt')
from nltk.util import ngrams
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to /Users/admin/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [11]:
#Importing dataset
trainDf = pd.read_csv('train_processed.csv', sep = ',')
testDf = pd.read_csv('test_processed.csv', sep = ',')

In [18]:
# trainDf.head()

   Unnamed: 0  0  1                                                0.1
0           0  1  0  USER_MENTION when a father is dysfunctional an...
1           1  2  0  USER_MENTION USER_MENTION thanks for lyft cred...
2           2  3  0                                bihday your majesty
3           3  4  0     model i love u take with u all the time in urð
4           4  5  0                  factsguide society now motivation

In [22]:
# c = trainDf[["0.1"]]
# c.head()

# Vaibhav

In [60]:
#Trial : To be del.
r = trainDf[["0.1"]]
trainDf_string = trainDf.to_string()
#function to split text into word
tokens = word_tokenize(trainDf_string)
vocab = set(tokens)
frequency_dist = nltk.FreqDist(tokens)
data = sorted(frequency_dist,key=frequency_dist.__getitem__, reverse=True)[0:20]
data

['0',
 '...',
 'USER_MENTION',
 'the',
 'to',
 'i',
 'a',
 'you',
 'for',
 'my',
 'is',
 'in',
 'and',
 'of',
 '1',
 'this',
 'be',
 'love',
 'day',
 'with']

In [53]:
# plt.plot(data)
# plt.show