In [1]:
#Importing libraries (will need to import more in future)
import io
import pandas as pd
import numpy as np
import re
import string

In [2]:
trainData = pd.read_csv("train_E6oV3lV.csv")

In [3]:
testData = pd.read_csv("test_tweets_anuFYb8.csv")

In [4]:
#Visualising data
trainData.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

# Cleaning the data

In [5]:
#cleanTweetsTrain

In [6]:
trainDataClean = pd.DataFrame(trainData)

In [7]:
trainDataClean.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [8]:
trainDataClean.shape[0]

31962

In [9]:
trainDataCl = []
i = 0
while i < trainDataClean.shape[0]:
    trainDataCl.append([trainDataClean.iloc[i,0], trainDataClean.iloc[i,1], trainDataClean.iloc[i,2]])
    i += 1

trainDataCleaned = pd.DataFrame(trainDataCl)

In [8]:
trainDataCleaned.head()

   0  1                                                  2
0  1  0   @user when a father is dysfunctional and is s...
1  2  0  @user @user thanks for #lyft credit i can't us...
2  3  0                                bihday your majesty
3  4  0  #model   i love u take with u all the time in ...
4  5  0             factsguide: society now    #motivation

In [9]:
trainDataCleaned.tail()

           0  1                                                  2
31957  31958  0  ate @user isz that youuu?ðððððð...
31958  31959  0    to see nina turner on the airwaves trying to...
31959  31960  0  listening to sad songs on a monday morning otw...
31960  31961  1  @user #sikh #temple vandalised in in #calgary,...
31961  31962  0                   thank you @user for you follow

In [10]:
#train dataset is clean. Next, cleaning test dataset

In [11]:
#testData.head()

In [12]:
with open("test_tweets_anuFYb8.csv") as r:
    readObj = csv.reader(r)
    next(readObj) 
    cleanTweetsTest = []
    for row in readObj:
        cleanTweetsTest.append(row)

NameError: name 'csv' is not defined

In [13]:
#cleanTweetsTest

In [14]:
testDataClean = pd.DataFrame(testData)

In [ ]:
#testDataClean.head()

In [ ]:
#testDataClean.tail()

In [ ]:
#Test data now clean!

# Data Pre-Processing

In [18]:
testDataClean.shape[0]

In [ ]:
testDataCl = []
i = 0
while i < testDataClean.shape[0]:
    testDataCl.append([testDataClean.iloc[i,0], testDataClean.iloc[i,1]])
    i += 1

testDataCleaned = pd.DataFrame(testDataCl)

In [ ]:
testDataCleaned.head()

In [ ]:
testDataCleaned.tail()

In [ ]:
#Test data now clean!

# Data Pre-Processing

In [ ]:
#Convert the tweet to lower case. 
#Replace 2 or more dots (.) with space. 
#URL
#User mention

In [ ]:
# tweet column extracted from Training Data.
tweetTrain = trainDataCleaned[[2]]
tweetTrain.head()

In [ ]:
tweetTrain.shape[0] # Checking the number of rows in the Tweet column

In [ ]:
print(tweetTrain.iloc[3,0]) # Prints 4th entry in the Tweet column

In [ ]:
# Converting tweets to lower case
tweetTrainList = []
i = 0
while i < tweetTrain.shape[0]:
    tweetTrainList.append(tweetTrain.iloc[i,0].lower()) # Converts each tweet to lower case and adds the lower case tweet to the array that was initially empty.
    i += 1
tweetTrainV1 = pd.DataFrame(tweetTrainList)

In [ ]:
# tweet training data converted to lower case.

In [ ]:
# tweet training data: Replacing 2+ dots w/ space

In [ ]:
print(tweetTrainV1.shape[0])

In [ ]:
tweetTrainL1 = []
i = 0
while i < tweetTrainV1.shape[0]:
    tweetTrainL1.append(tweetTrainV1.iloc[i,0]) # Adds each tweet to the array, following first modification.
    i += 1
tweetTrainL1a = []
for element in tweetTrainL1: 
    elem = re.sub(r'\.\.+',' ',element) # Substitutes 2+ dots w/ space
    tweetTrainL1a.append(elem) # Adds each modified tweet to the array.

tweetTrainV2 = pd.DataFrame(tweetTrainL1a)

In [ ]:
print(tweetTrainV2.iloc[31961,0])

In [ ]:
# 2+ dots in each training tweet replaced w/ space

In [ ]:
# Replacing each URL in tweet training data w/ the word 'URL'.

In [ ]:
tweetTrainL2 = []
i = 0
while i < tweetTrainV2.shape[0]:
    tweetTrainL2.append(tweetTrainV2.iloc[i,0]) # Adds each tweet to the array, following first two modifications.
    i += 1
tweetTrainL2a = []
for element in tweetTrainL2:
    elem = re.sub(r'((www\.[\S]+)|(https?://[\S]+))','URL',element) # Substitutes URLs w/ the term 'URL'
    tweetTrainL2a.append(elem) # Adds each modified tweet to the array.

tweetTrainV3 = pd.DataFrame(tweetTrainL2a)

In [ ]:
print(tweetTrainV3.iloc[8484,0])

In [ ]:
# Each URL in tweet training data replaced w/ the word 'URL'

In [ ]:
# Replacing each user mention in tweet training data with the term 'USER_MENTION'

In [ ]:
tweetTrainL3 = []
i = 0
while i < tweetTrainV3.shape[0]:
    tweetTrainL3.append(tweetTrainV3.iloc[i,0]) # Adds each tweet to the array, following first three modifications.
    i += 1
tweetTrainL3a = []
for element in tweetTrainL3:
    elem = re.sub(r'@[\S]+','USER_MENTION',element) # Substitutes user mentions w/ the term 'USER_MENTION'
    tweetTrainL3a.append(elem) # Adds each modified tweet to the array.

tweetTrainV4 = pd.DataFrame(tweetTrainL3a)

In [ ]:
print(tweetTrainV4.iloc[8695,0])

In [ ]:
print(tweetTrainV4.iloc[8660,0])

In [ ]:
# Each user mention in tweet training data replaced w/ the term 'USER_MENTION'

# Mihir Ravishankar

In [ ]:
#More pre-processing to be done:
# 1) Remove - and '
# 2) Check if word is valid

# Vaibhav Kumar

In [ ]:
# df1 = pd.read_fwf(io.StringIO(tweetString), colspecs='infer', widths=None, infer_nrows=150)

In [ ]:
#Data-Pre processing
#tweet 812, 821, 6053

In [ ]:
#Strip spaces and quotes ("" and '') from the ends of tweet.

In [ ]:
tweetString = trainData.tweet.to_string()

In [ ]:
#my pre-processing function
def wordProcessing(a):
    a = re.sub(' +', ' ', a) #reduces 2 or more spaces into one space
    a = re.sub(r'#',"",a) #removes hash-symbol from hashtag
    a = re.sub(r'RT',"\b",a)#removes RT from retweets
    return a
    if a is None:
        a = str

In [ ]:
#Classifying emojis as positve or negative

In [ ]:
def emojiHandler(a):
    a = re.sub(r'(:\s?\)|:-\)|\(\s?:|\(-:|:\'\))', 'EMO_POS', a) #Smile-emoji
    a = re.sub(r'(:\s?D|:-D|x-?D|X-?D)', 'EMO_POS', a) #Laugh-emoji
    a = re.sub(r'(<3|:\*)' ,'EMO_POS', a) #Love-emoji
    a = re.sub(r'(;-?\)|;-?D|\(-?;)' ,'EMO_POS', a) #Wink-emoji
    a = re.sub(r'(:\s?\(|:-\(|\)\s?:|\)-:)' ,'EMO_NEG', a) #Sad-emoji
    a = re.sub(r'(:,\(|:\'\(|:"\()' ,'EMO_NEG', a) #Cry-emoji
    return a

In [ ]:
def removeQuotes(a):
        a = a.strip(' "\'') #removes quotes from the ends
        return a

In [ ]:
#Testing real tweets on pre-Processing function

In [ ]:
# x = wordProcessing(n)
# print(x)
# y = emojiHandler(x)
# print(y)
# z = ppFunction(n)
# print(z)

In [ ]:
def ppFunction(s):
    r = emojiHandler(wordProcessing(s))
    s = removeQuotes(r)
    return s

In [ ]:
n = "i have begun something #new on this page &amp; am super   about it :)  it's daily tarot guidance with a... "
z = ppFunction(n)
print(z)

In [ ]:
#More pre-processing to be done:
# 1) Strip punctuations from words
# 2) Convert two or more letter repetitions to 2 letters.

In [ ]:
#Removing punctuations from words

In [15]:
s = "I'm so happy! I love food; I also like to workout."

In [27]:
def extraFunctions(s):
    translator = str.maketrans('', '', string.punctuation)
    print(s.translate(translator))

In [28]:
extraFunctions(s)

Im so happy I love food I also like to workout

# Classification Techniques- Mi

# Classification Techniques- Va