In [1]:
#Importing libraries (will need to import more in future)
import io
import pandas as pd
import numpy as np
import re
import string
from string import punctuation
from re import sub

In [2]:
trainData = pd.read_csv("train_E6oV3lV.csv")

In [3]:
testData = pd.read_csv("test_tweets_anuFYb8.csv")

In [4]:
#Visualising data
trainData.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

# Cleaning the data

In [5]:
#cleanTweetsTrain

In [6]:
trainDataClean = pd.DataFrame(trainData)

In [7]:
trainDataClean.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [8]:
trainDataClean.shape[0]

31962

In [9]:
trainDataCl = []
i = 0
while i < trainDataClean.shape[0]:
    trainDataCl.append([trainDataClean.iloc[i,0], trainDataClean.iloc[i,1], trainDataClean.iloc[i,2]])
    i += 1

trainDataCleaned = pd.DataFrame(trainDataCl)

In [84]:
trainDataCleaned.head()

,0,1,2
0,1,0,@user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction. #run
1,2,0,@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx. #disapointed #getthanked
2,3,0,bihday your majesty
3,4,0,#model i love u take with u all the time in urð±!!! ðððð ð¦ð¦ð¦
4,5,0,factsguide: society now #motivation

In [11]:
trainDataCleaned.tail()

           0  1                                                  2
31957  31958  0  ate @user isz that youuu?ðððððð...
31958  31959  0    to see nina turner on the airwaves trying to...
31959  31960  0  listening to sad songs on a monday morning otw...
31960  31961  1  @user #sikh #temple vandalised in in #calgary,...
31961  31962  0                   thank you @user for you follow

In [12]:
#train dataset is clean. Next, cleaning test dataset

In [13]:
#testData.head()

In [14]:
# with open("test_tweets_anuFYb8.csv") as r:
    # readObj = csv.reader(r)
    # next(readObj) 
    # cleanTweetsTest = []
    # for row in readObj:
        # cleanTweetsTest.append(row)

In [15]:
#cleanTweetsTest

In [16]:
testDataClean = pd.DataFrame(testData)

In [17]:
testDataClean.shape[0]

17197

In [18]:
testDataCl = []
i = 0
while i < testDataClean.shape[0]:
    testDataCl.append([testDataClean.iloc[i,0], testDataClean.iloc[i,1]])
    i += 1

testDataCleaned = pd.DataFrame(testDataCl)

In [85]:
testDataCleaned.head()

,0,1
0,31963,#studiolife #aislife #requires #passion #dedication #willpower to find #newmaterialsâ¦
1,31964,@user #white #supremacists want everyone to see the new â #birdsâ #movie â and hereâs why
2,31965,safe ways to heal your #acne!! #altwaystoheal #healthy #healing!!
3,31966,"is the hp and the cursed child book up for reservations already? if yes, where? if no, when? ððð #harrypotter #pottermore #favorite"
4,31967,"3rd #bihday to my amazing, hilarious #nephew eli ahmir! uncle dave loves you and missesâ¦"

In [20]:
testDataCleaned.tail()

           0                                                  1
17192  49155  thought factory: left-right polarisation! #tru...
17193  49156  feeling like a mermaid ð #hairflip #neverre...
17194  49157  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158  happy, at work conference: right mindset leads...
17196  49159  my   song "so glad" free download!  #shoegaze ...

In [21]:
#Test data now clean!

# Data Pre-Processing

In [22]:
#Convert the tweet to lower case. 
#Replace 2 or more dots (.) with space. 
#URL
#User mention

In [23]:
# tweet column extracted from Training Data.
# tweetTrain = trainDataCleaned[[2]]
# tweetTrain.head()

In [24]:
# tweetTrain.shape[0] # Checking the number of rows in the Tweet column

In [25]:
# print(tweetTrain.iloc[3,0]) # Prints 4th entry in the Tweet column

In [26]:
# Converting tweets to lower case
# tweetTrainList = []
# i = 0
# while i < tweetTrain.shape[0]:
#     tweetTrainList.append(tweetTrain.iloc[i,0].lower()) # Converts each tweet to lower case and adds the lower case tweet to the array that was initially empty.
#     i += 1
# tweetTrainV1 = pd.DataFrame(tweetTrainList)

In [27]:
# tweet training data converted to lower case.

In [28]:
# tweet training data: Replacing 2+ dots w/ space

In [29]:
# print(tweetTrainV1.shape[0])

In [30]:
# tweetTrainL1 = []
# i = 0
# while i < tweetTrainV1.shape[0]:
#     tweetTrainL1.append(tweetTrainV1.iloc[i,0]) # Adds each tweet to the array, following first modification.
#     i += 1
# tweetTrainL1a = []
# for element in tweetTrainL1: 
#     elem = re.sub(r'\.\.+',' ',element) # Substitutes 2+ dots w/ space
#     tweetTrainL1a.append(elem) # Adds each modified tweet to the array.

# tweetTrainV2 = pd.DataFrame(tweetTrainL1a)

In [31]:
# print(tweetTrainV2.iloc[31961,0])

In [32]:
# 2+ dots in each training tweet replaced w/ space

In [33]:
# Replacing each URL in tweet training data w/ the word 'URL'.

In [34]:
# tweetTrainL2 = []
# i = 0
# while i < tweetTrainV2.shape[0]:
#     tweetTrainL2.append(tweetTrainV2.iloc[i,0]) # Adds each tweet to the array, following first two modifications.
#     i += 1
# tweetTrainL2a = []
# for element in tweetTrainL2:
#     elem = re.sub(r'((www\.[\S]+)|(https?://[\S]+))','URL',element) # Substitutes URLs w/ the term 'URL'
#     tweetTrainL2a.append(elem) # Adds each modified tweet to the array.

# tweetTrainV3 = pd.DataFrame(tweetTrainL2a)

In [35]:
# print(tweetTrainV3.iloc[8484,0])

In [36]:
# Each URL in tweet training data replaced w/ the word 'URL'

In [37]:
# Replacing each user mention in tweet training data with the term 'USER_MENTION'

In [38]:
# tweetTrainL3 = []
# i = 0
# while i < tweetTrainV3.shape[0]:
#     tweetTrainL3.append(tweetTrainV3.iloc[i,0]) # Adds each tweet to the array, following first three modifications.
#     i += 1
# tweetTrainL3a = []
# for element in tweetTrainL3:
#     elem = re.sub(r'@[\S]+','USER_MENTION',element) # Substitutes user mentions w/ the term 'USER_MENTION'
#     tweetTrainL3a.append(elem) # Adds each modified tweet to the array.

# tweetTrainV4 = pd.DataFrame(tweetTrainL3a)

In [39]:
# print(tweetTrainV4.iloc[8695,0])

In [40]:
# print(tweetTrainV4.iloc[8660,0])

In [41]:
# Each user mention in tweet training data replaced w/ the term 'USER_MENTION'

# Mihir Ravishankar

# Vaibhav Kumar

In [42]:
# df1 = pd.read_fwf(io.StringIO(tweetString), colspecs='infer', widths=None, infer_nrows=150)

In [43]:
#Data-Pre processing
#tweet 812, 821, 6053

In [44]:
#Strip spaces and quotes ("" and '') from the ends of tweet.

In [45]:
tweetString = trainData.tweet.to_string()

In [46]:
#my pre-processing function
# def wordProcessing(a):
#     a = re.sub(' +', ' ', a) #reduces 2 or more spaces into one space
#     a = a.strip(' "\'') #removes quotes from the ends
#     a = re.sub(r'#',"",a) #removes hash-symbol from hashtag
#     a = re.sub(r'RT',"\b",a)#removes RT from retweets
#     a = re.sub(r'-',"",a) #removes -
#     a = re.sub(r'\'',"",a) #removes ' 
#     return a
#     if a is None:
#         a = str

In [47]:
# s = "#Wendy's-world"
# wordProcessing(s)

In [48]:
#Classifying emojis as positve or negative

In [49]:
def emojiHandler(a):
    a = re.sub(r'(:\s?\)|:-\)|\(\s?:|\(-:|:\'\))', 'EMO_POS', a) #Smile-emoji
    a = re.sub(r'(:\s?D|:-D|x-?D|X-?D)', 'EMO_POS', a) #Laugh-emoji
    a = re.sub(r'(<3|:\*)' ,'EMO_POS', a) #Love-emoji
    a = re.sub(r'(;-?\)|;-?D|\(-?;)' ,'EMO_POS', a) #Wink-emoji
    a = re.sub(r'(:\s?\(|:-\(|\)\s?:|\)-:)' ,'EMO_NEG', a) #Sad-emoji
    a = re.sub(r'(:,\(|:\'\(|:"\()' ,'EMO_NEG', a) #Cry-emoji
    return a

In [50]:
# def removeQuotes(a):       
#         return a

In [51]:
#Testing real tweets on pre-Processing function

In [52]:
# x = wordProcessing(n)
# print(x)
# y = emojiHandler(x)
# print(y)
# z = ppFunction(n)
# print(z)

In [53]:
# def ppFunction(s):
#     r = emojiHandler(wordProcessing(s))
#     s = removeQuotes(r)
#     return s

In [54]:
# n = "i have begun something #new on this page &amp; am super   about it :)  it's daily tarot guidance with a... "
# z = ppFunction(n)
# print(z)

In [55]:
#More pre-processing to be done:
# 1) Strip punctuations from words
# 2) Convert two or more letter repetitions to 2 letters.
# 3) Remove -  and '
# 4) check if word is valid

In [56]:
def removePunctuation(s):
    translator = str.maketrans('', '', sub('\_', '', punctuation))
    return s.translate(translator)
    return repeatWords.sub(r"\1\1", s)

In [57]:
def removeExtraWords(s):
    repeatWords = re.compile(r"(.)\1{2,}", re.DOTALL) 
    return repeatWords.sub(r"\1\1", s)

In [58]:
#word-Validity
range = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"
def wordValidity(s):
    wordList = re.sub("[^\w]", " ",  s).split()
    length = len(wordList)
    i = 0
    newWordList = []
#     print(i) 
    while i < length:
        if wordList[i][0] in range:
            newWordList.append(wordList[i])
        i += 1
    return ' '.join(newWordList)

# Concise Code Block

In [59]:
# Extract tweet column.
# Create a list containing the tweets.
# Create a new list that will contain the modified tweets (following pre processing steps).
# Execute all necessary pre processing steps to each tweet; add each modified tweet to the new list created in the previous step.
# Cast this new list with the modified tweets to a DataFrame and save the DataFrame to a variable.

In [60]:
# Functions:
# Pre-processing steps [different categories]; all pre-processing steps combined

In [61]:
# def otherModifications(a):
#     a = a.lower()
#     a = re.sub(r'\.\.+',' ',a)
#     a = re.sub(r'((www\.[\S]+)|(https?://[\S]+))','URL',a)
#     a = re.sub(r'@[\S]+','USER_MENTION',a)
#     return a

In [62]:
def allPreprocessingSteps(a):
    a = a.lower()
    a = re.sub(r'\.\.+',' ',a)
    a = a.strip('  \'') #removes spaces from the ends 
    a = a.strip(' "\'') #removes quotes from the ends
    a = re.sub(' +', ' ', a) #reduces 2 or more spaces into one space
    a = re.sub(r'((www\.[\S]+)|(https?://[\S]+))','URL',a)
    a = re.sub(r'@[\S]+','USER_MENTION',a)
    a = emojiHandler(a)
    a = re.sub(r'#',"",a) #removes hash-symbol from hashtag
    a = re.sub(r'RT ','',a)#removes RT from retweets
    a = removePunctuation(a) #added today
    a = removeExtraWords(a)
    a = wordValidity(a)
#     a = otherModifications(a)
#     a = wordProcessing(a)    
#     a = removeQuotes(a)     
    return a

In [63]:
def preProcessingTweets(column):
    tweetTrain = column

    tweetTrainList = []
    i = 0
    while i < tweetTrain.shape[0]:
        tweetTrainList.append(tweetTrain.iloc[i,0]) 
        i += 1
    tweetTrainL1a = []
    for element in tweetTrainList: 
        elem = allPreprocessingSteps(element)
        tweetTrainL1a.append(elem) 

    tweetTrainMod = pd.DataFrame(tweetTrainL1a)
    
    return tweetTrainMod

In [64]:
# a = "Heloo. this test.."
# otherModifications(a)

In [65]:
tweetTrainMod = preProcessingTweets(trainDataCleaned[[2]])

In [73]:
tweetTestMod = preProcessingTweets(testDataCleaned[[1]])

In [67]:
pd.set_option('max_colwidth', 10000000000000000000000000000000000000000000000000000000)

In [68]:
# testTweets = testDataCleaned[[1]]

In [69]:
# Testing a tweet 
# print(testTweets.iloc[3102,0])
# print(tweetTestMod.iloc[3102,0])

In [70]:
#Write a function to convert all the data into CSV files.

In [80]:
dfTrainPp1 = trainDataCleaned[[0,1]]
tweetTrainProc = pd.concat([dfTrainPp1, tweetTrainMod], axis=1)

In [81]:
dfTestPp1 = testDataCleaned[[0]]
tweetTestProc = pd.concat([dfTestPp1, tweetTestMod], axis=1)

In [82]:
# Converting clean and processed DataFrames to CSV files.

tweetTrainProc.to_csv('train_processed.csv')

In [83]:
tweetTestProc.to_csv('test_processed.csv')