In [1]:
#Importing libraries (will need to import more in future)
import pandas as pd
import numpy as np

In [2]:
trainData = pd.read_csv("train_E6oV3lV.csv")

In [3]:
testData = pd.read_csv("test_tweets_anuFYb8.csv")

In [4]:
#Visualising data
trainData.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

# Cleaning the data

In [5]:
#cleanTweetsTrain

In [6]:
trainDataClean = pd.DataFrame(trainData)

In [7]:
trainDataClean.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [8]:
#trainDataClean.tail()

In [9]:
#train dataset is clean. Next, cleaning test dataset

In [10]:
#testData.head()

In [11]:
#cleanTweetsTest

In [12]:
testDataClean = pd.DataFrame(testData)

In [13]:
testDataClean.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [14]:
#testDataClean.tail()

In [15]:
#Test data now clean!

# Data Pre-Processing

In [16]:
#Convert the tweet to lower case. [Mihir]
#Replace 2 or more dots (.) with space. [Mihir]
#Strip spaces and quotes ("" and '') from the ends of tweet. [Vaibhav]
#Replace 2 or more spaces with a single space. [Vaibhav]

In [17]:
# tweet column extracted from Training Data.
tweetTrain = trainData[['tweet']]
tweetTrain.head()

                                               tweet
0   @user when a father is dysfunctional and is s...
1  @user @user thanks for #lyft credit i can't us...
2                                bihday your majesty
3  #model   i love u take with u all the time in ...
4             factsguide: society now    #motivation

In [18]:
tweetTrain.shape[0]

31962

In [19]:
print(tweetTrain.iloc[3,0])

#model   i love u take with u all the time in urð±!!! ððððð¦ð¦ð¦

In [20]:
tweetTrainList = []
i = 0
while i < tweetTrain.shape[0]:
    tweetTrainList.append(tweetTrain.iloc[i,0].lower()) 
    i += 1
tweetTrainV1 = pd.DataFrame(tweetTrainList)

In [21]:
# tweet training data converted to lower case.

In [22]:
print(tweetTrainV1.shape[0])

31962

In [23]:
import re

In [28]:
tweetTrainL1 = []
i = 0
while i < tweetTrainV1.shape[0]:
    tweetTrainL1.append(tweetTrainV1.iloc[i,0]) 
    i += 1
tweetTrainL1a = []
for element in tweetTrainL1:
    elem = re.sub(r'\.\.+',' ',element)
    tweetTrainL1a.append(elem)

tweetTrainV2 = pd.DataFrame(tweetTrainL1a)

In [33]:
print(tweetTrainV2.iloc[54,0])

thank you! ðð super love it! â¤ï¸ zpamdelacruz   #wedding# @ dolores, capas tarlac.

# Mihir Ravishankar

# Vaibhav Kumar