In [10]:
#Importing libraries (will need to import more in future)
import pandas as pd
import numpy as np

In [11]:
trainData = pd.read_csv("train_E6oV3lV.csv")

In [12]:
testData = pd.read_csv("test_tweets_anuFYb8.csv")

In [13]:
#Visualising data
trainData.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

# Cleaning the data

In [17]:
import csv
with open("train_E6oV3lV.csv") as r:
    readObj = csv.reader(r)
    next(readObj) 
    cleanTweetsTrain = []
    for row in readObj:
        cleanTweetsTrain.append(row)

In [19]:
#cleanTweetsTrain

In [20]:
trainDataClean = pd.DataFrame(cleanTweetsTrain)

In [21]:
trainDataClean.head()

   0  1                                                  2
0  1  0   @user when a father is dysfunctional and is s...
1  2  0  @user @user thanks for #lyft credit i can't us...
2  3  0                                bihday your majesty
3  4  0  #model   i love u take with u all the time in ...
4  5  0             factsguide: society now    #motivation

In [22]:
#trainDataClean.tail()

In [23]:
#train dataset is clean. Next, cleaning test dataset

In [24]:
#testData.head()

In [25]:
with open("test_tweets_anuFYb8.csv") as r:
    readObj = csv.reader(r)
    next(readObj) 
    cleanTweetsTest = []
    for row in readObj:
        cleanTweetsTest.append(row)

In [27]:
#cleanTweetsTest

In [28]:
testDataClean = pd.DataFrame(cleanTweetsTest)

In [29]:
#testDataClean.head()

In [30]:
#testDataClean.tail()

In [31]:
#Test data now clean!

# Data Pre-Processing

In [32]:
#Convert the tweet to lower case.
#Replace 2 or more dots (.) with space.
#Strip spaces and quotes ("" and '') from the ends of tweet.
#Replace 2 or more spaces with a single space.

# Mihir Ravishankar

# Vaibhav Kumar

In [33]:
#Data-Pre processing

In [42]:
#Strip spaces and quotes ("" and '') from the ends of tweet.

In [43]:
def removeQuotes(str):
    str.strip()

In [53]:
a = trainData.tweet.to_string()

In [57]:
quotesRemoved = removeQuotes(a)