In [10]:
#Importing libraries (will need to import more in future)
import pandas as pd
import numpy as np

In [11]:
trainData = pd.read_csv("train_E6oV3lV.csv")

In [12]:
testData = pd.read_csv("test_tweets_anuFYb8.csv")

In [13]:
#Visualising data
trainData.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

# Cleaning the data

In [14]:
import csv
with open("train_E6oV3lV.csv") as r:
    readObj = csv.reader(r)
    next(readObj) 
    cleanTweetsTrain = []
    for row in readObj:
        cleanTweetsTrain.append(row)

In [15]:
#cleanTweetsTrain

In [16]:
trainDataClean = pd.DataFrame(cleanTweetsTrain)

In [17]:
trainDataClean.head()

   0  1                                                  2
0  1  0   @user when a father is dysfunctional and is s...
1  2  0  @user @user thanks for #lyft credit i can't us...
2  3  0                                bihday your majesty
3  4  0  #model   i love u take with u all the time in ...
4  5  0             factsguide: society now    #motivation

In [31]:
#trainDataClean.tail()

In [19]:
#train dataset is clean. Next, cleaning test dataset

In [25]:
#testData.head()

In [22]:
with open("test_tweets_anuFYb8.csv") as r:
    readObj = csv.reader(r)
    next(readObj) 
    cleanTweetsTest = []
    for row in readObj:
        cleanTweetsTest.append(row)

In [26]:
#cleanTweetsTest

In [27]:
testDataClean = pd.DataFrame(cleanTweetsTest)

In [28]:
testDataClean.head()

       0                                                  1
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [30]:
#testDataClean.tail()

In [ ]:
#Test data now clean!

# Mihir Ravishankar

# Vaibhav Kumar