In [1]:
#Importing libraries (will need to import more in future)
import pandas as pd
import numpy as np

In [2]:
trainData = pd.read_csv("train_E6oV3lV.csv")

In [3]:
testData = pd.read_csv("test_tweets_anuFYb8.csv")

In [4]:
#Visualising data
trainData.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

# Cleaning the data

In [5]:
import csv
with open("train_E6oV3lV.csv") as r:
    readObj = csv.reader(r)
    next(readObj) # skip header
    cleanTweets = []
    for row in readObj:
        cleanTweets.append(row)

In [6]:
#cleanTweets

In [7]:
trainDataClean = pd.DataFrame(cleanTweets)

In [8]:
trainDataClean.head()

   0  1                                                  2
0  1  0   @user when a father is dysfunctional and is s...
1  2  0  @user @user thanks for #lyft credit i can't us...
2  3  0                                bihday your majesty
3  4  0  #model   i love u take with u all the time in ...
4  5  0             factsguide: society now    #motivation

In [9]:
trainDataClean.tail()

           0  1                                                  2
31957  31958  0  ate @user isz that youuu?ðððððð...
31958  31959  0    to see nina turner on the airwaves trying to...
31959  31960  0  listening to sad songs on a monday morning otw...
31960  31961  1  @user #sikh #temple vandalised in in #calgary,...
31961  31962  0                   thank you @user for you follow